In [2]:
import pandas as pd

filepath_ci = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/childIdentifiers.csv"

In [9]:
import pandas as pd

filepath_ci = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv"
filepath_cc = r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv"

# for reading local files with locally installed Python
# import os
# os_filepath = r"c://data/child_charatceristics.csv"

child_identifiers = pd.read_csv(filepath_ci)

child_characteristics = pd.read_csv(filepath_cc)

In [12]:
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})
nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])
# child_info[['Birthday', 'CP Plan?']]

child_info['Birthday'] = pd.to_datetime(child_info['Birthday'], format="%d/%m/%Y", errors='coerce')

# if it's year month days sep. by dashes "%Y-%m-%d"

child_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      datetime64[ns]
 4   CP Plan?           5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

In [17]:
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

# child_info[['Birthday', 'CP Plan?']]

child_info['Birthday'] = pd.to_datetime(child_info['Birthday'], format="%d/%m/%Y")

# if it's year month days sep. by dashes "%Y-%m-%d"

child_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      datetime64[ns]
 4   CP Plan?           5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

In [18]:
child_info = pd.DataFrame({'ChildId':['id1', 'id2', 'id3', 'id4', 'id5'],
                   'Age first contact':[6,12,11,1,19],
                   'Gender':['M','m', 'F', '', 'F' ],
                   'Birthday':['01/01/2002', '02/02/2003', pd.NA, '03/03/2023', '06/01/2012'],
                   'CP Plan?':['Y', 'n', 'N', 'No', 'yES'],})

nhs_numbers = pd.DataFrame([
                            {'ChildId':'id1',
                            'NHS Number': '303',},
                            {'ChildId':'id2',
                            'NHS Number': '3u5029',},
                            {'ChildId':'id3',
                            'NHS Number': 'gqw3',},
                            {'ChildId':'id4',
                            'NHS Number': 'avsgvb',},
                            {'ChildId':'id5',
                            'NHS Number': 'varwvw',},
                            ])

# child_info[['Birthday', 'CP Plan?']]

child_info['Birthday'] = pd.to_datetime(child_info['Birthday'], format="%d/%m/%Y", errors="coerce")

# if it's year month days sep. by dashes "%Y-%m-%d"

child_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ChildId            5 non-null      object
 1   Age first contact  5 non-null      int64
 2   Gender             5 non-null      object
 3   Birthday           4 non-null      datetime64[ns]
 4   CP Plan?           5 non-null      object
dtypes: datetime64[ns](1), int64(1), object(3)
memory usage: 328.0+ bytes

In [22]:
child_identifiers['PersonBirthDate'] = pd.to_datetime(child_identifiers['PersonBirthDate'], format="%Y-%m-%d", errors="coerce")
child_identifiers['PersonDeathDate'] = pd.to_datetime(child_identifiers['PersonDeathDate'], format="%Y-%m-%d", errors="coerce")
child_identifiers['ExpectedPersonBirthDate'] = pd.to_datetime(child_identifiers['ExpectedPersonBirthDate'], format="%Y-%m-%d", errors="coerce")

# for column in ['PersonBirthDate', 'PersonDeathDate', 'ExpectedPersonBirthDate']:
#     child_identifiers[column] = pd.to_datetime(child_identifiers[column], format="%Y-%m-%d", errors="coerce")

child_identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    datetime64[ns]
 6   ExpectedPersonBirthDate  7 non-null      datetime64[ns]
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          20 non-null     datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(2)
memory usage: 23.5+ KB

In [23]:
child_identifiers['Age of Death'] = child_identifiers['PersonBirthDate'] - child_identifiers['PersonDeathDate']
# child_identifiers[child_identifiers['Age of Death'].notna()]
child_identifiers['Age of Death'] = child_identifiers['Age of Death'] / pd.Timedelta(365.25, 'd')
child_identifiers['Age of Death'] = child_identifiers['Age of Death'].astype('int', errors='ignore')
child_identifiers[child_identifiers['Age of Death'].notna()]

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,Age of Death
19,19,RND000958425881,A882839253037,NaN,NaN,2007-07-04,NaT,1,2006-07-04,0.999316
41,41,RND000784982652,A500201849606,NaN,NaN,2010-06-18,NaT,2,2010-06-18,0.000000
69,69,RND000241874800,A282732223185,NaN,NaN,2004-08-26,NaT,1,2004-08-26,0.000000
72,72,RND000409224929,A719263788462,NaN,NaN,2017-03-27,NaT,1,2017-03-27,0.000000
91,91,RND000319972816,A688909017176,NaN,NaN,2011-12-18,NaT,1,2010-12-18,0.999316
103,103,RND000055985060,A245216741750,NaN,NaN,2012-03-23,NaT,1,2012-03-23,0.000000
105,105,RND000628165525,A348472058936,NaN,NaN,2020-09-05,NaT,0,2020-09-05,0.000000
113,113,RND000606201353,A306286338340,NaN,NaN,2022-02-26,NaT,9,2022-02-26,0.000000
120,120,RND000216102220,A591279308648,NaN,NaN,2008-12-08,NaT,0,2008-12-08,0.000000
133,133,RND000627202323,A302736547020,NaN,NaN,2013-11-26,NaT,1,2013-11-26,0.000000
145,145,RND000278246033,A957883397163,NaN,NaN,2010-05-29,NaT,1,2010-05-29,0.000000
166,166,RND000626970801,A414148395738,NaN,NaN,2018-02-25,NaT,2,2018-02-25,0.000000
167,167,RND000929817765,A971563744319,NaN,NaN,2019-08-05,NaT,1,2019-08-05,0.000000
202,202,RND000424634735,A511387909185,NaN,NaN,2011-07-29,NaT,1,2011-07-29,0.000000
226,226,RND000823431582,A755180824452,NaN,NaN,2008-09-25,NaT,9,2008-09-25,0.000000
234,234,RND000138103658,A560193490403,NaN,NaN,2018-05-03,NaT,1,2018-05-03,0.000000
282,282,RND000293974396,A026702285930,NaN,NaN,2005-10-05,NaT,2,2005-10-05,0.000000
287,287,RND000172187785,A243475894491,NaN,NaN,2019-05-02,NaT,1,2019-05-02,0.000000
297,297,RND000917307767,A522871403618,NaN,NaN,2015-11-02,NaT,2,2014-11-02,0.999316
306,306,RND000059988119,A279646565149,NaN,NaN,2012-03-19,NaT,0,2012-03-19,0.000000

In [24]:
child_identifiers['Age'] = pd.to_datetime('today') - child_identifiers['PersonBirthDate']
child_identifiers['Age'] = child_identifiers['Age'] / pd.Timedelta(365.25, 'd')
child_identifiers['Age'] = child_identifiers['Age'].astype('int')
child_identifiers['Age']

0       4
1      13
2       7
3       9
4       4
       ..
327    13
328     5
329     2
330    10
331     2
Name: Age, Length: 332, dtype: int64

In [29]:
df_dict = pd.read_excel(r"https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx", sheet_name=None)

df_dict['Child Data']

ImportError: Missing optional dependency 'openpyxl'.  Use pip or conda to install openpyxl.

In [31]:
child_info = pd.merge(child_info,nahs_numbers, how='left',left_on='childID', right_on=childID')
                      child_info

SyntaxError: unterminated string literal (detected at line 1) (4032739614.py, line 1)